@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1:#db4444;
    --grad-clr2: #db4444;
}

body {
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 900px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s;
}
.form-container {
  width: 45%;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  margin: 10px;
}

button {
  border-radius: 20px;
  border: 1px solid var(--grad-clr1);
  background: var(--grad-clr2);
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  width: 50%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 30%;
}

button:active {
  transform: scale(.90);
}
